.container {
    position: relative;
    width: 100%;
    height: 100vh;
    background-color: #fff;
    overflow: hidden;
}

.blurBackground,
.topBar,
.bottomBar {
    position: absolute;
    left: 0;
    width: 100%;
    filter: blur(2px);
}

.blurBackground {
    top: 0;
    height: 100vh;
    background-color: #fff;
}

.topBar,
.bottomBar {
    height: 10vh;
    background-color: #d4e8ff;
}

.topBar {
    top: 0;
}

.bottomBar {
    bottom: 0;
}

.blogTitle {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: 2.7vh;
    font-size: 4vh;
    color: #000;
    text-align: center;
}

.registerContainer {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
    top: 20vh;
    width: 450px;
    height: 525px;
    padding: 20px;
    border: 1px solid black;
    border-radius: 8px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
    background-color: #ffffff;
}

.registerContainer h2 {
    font-size: 30px;
    margin-bottom: 30px;
}

.inputGroup {
    margin-bottom: 10px;
    width: 100%;
}

.inputGroup label {
    display: block;
    font-size: 20px;
    margin-bottom: 3px;
    text-align: start;
}

.inputGroup input {
    width: 100%;
    padding: 12px;
    border: 1px solid #000000;
    border-radius: 4px;
    box-sizing: border-box;
    font-size: 18px;
}


.registerButton {
    width: 100%;
    padding: 12px;
    background-color: #adc3db;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 20px;
    margin-top: 30px;
}

.registerButton:hover {
    background-color: #79abe1;
}



.icon4, .icon5, .icon6 {
    position: absolute;
    bottom: 2vh;
    max-width: 3vw; /* 고정된 너비로 설정 */
    height: auto;
}

.icon4 {
    right: 54%; /* 정확한 위치 조정 */
}

.icon5 {
    left: 54%; /* 정확한 위치 조정 */
}

.icon6 {
    left: 48.5%; /* 정확한 위치 조정 */
}
